#API
GEMINI_API_KEY=api_key

#Embedding model
EMBEDDING_MODEL=models/gemini-embedding-001
MAX_CONSECUTIVE_404=5

#Erros
MAX_EMBEDDING_PER_MINUTE=80
EMBEDDING_BATCH_SIZE=40
MAX_429_RETRIES=10
SKIP_INGESTED=true

#DB
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=ragdb
POSTGRES_USER=raguser
POSTGRES_PASSWORD=ragpassword

#Ingestion
DATA_DIR=/data
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
